{
  "presets": ["env", "react"],
  "plugins": [
    "transform-runtime",
    "transform-decorators-legacy",
    "transform-class-properties",
    "babel-plugin-add-module-exports"
  ],
  "env": {
    "test": {
      "plugins": [
        "transform-runtime",
        "transform-decorators-legacy",
        "transform-class-properties"
      ]
    }
  }
}
